@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #e07b39;
}
.container{
    background-color: black;
    width: 220px;
    height: 260px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 500px;
    border-radius: 6px;
    /* color: #b6e7e1; */
}
.container h4{
    padding-left: 50px;
    font-size: small;
    color: #b6e7e1;
    padding-top: 8px;
}
.container p{
    color: white;
    padding-left: 16px;
    width: 212px;
    padding-top: 20px;
    justify-content: space-between;
}